# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/

# testing / coverage
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp

# TypeScript
*.tsbuildinfo

# misc
*.pem
